@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

.container {
  padding: 3.5rem 2rem 0;
  background-color: #F5F5F5;
}

/* .main {
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.footer {
  display: flex;
  flex: 1;
  padding: 0.5rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  color: #0070f3;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 20rem;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}


.subTitle {
  color: #0070f3;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 20rem;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}


.avatar {
  margin: 35px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 15rem;
  line-height: 1.5;
  font-size: 1.0rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgb(78, 78, 78);

}


.socials {
  width: 90%;
  margin: 2rem auto;
}


.autoGrid {
 display: flex;
 align-items: center;
 justify-content: space-around;
 width: 30%;
 margin: 0 auto;
}

.listItem {
  padding: 0rem 0rem;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
  background-color: #ffffff;
  border-radius: 5px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listItem:hover {
  cursor: pointer;
  background-color: rgb(226, 246, 255);
}

.picture {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 5px rgb(255, 255, 255);
  box-shadow: 0 5px 15px rgb(0 0 0 / 5%);
}

.buttonContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 15px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}


.button:hover {
  background-color: #edf5fd;
  color:  #0070f3;
}


/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .container {
    padding: 3.5rem 2rem 0;
  }

  .title {
    margin: 0;
    line-height: 1.1;
    font-size: 6rem;
    text-align: center;
  }

  .description {
    margin: 2rem 0rem;
    padding: 0 20px;
  
  }

  .autoGrid {
    width: 90%;

   }
}
